<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
		  <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\lab1.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2E8DBB33-76A1-4954-93E3-D2BC674040D7-->